# Set URL for your scoped packages.
# For example package with name `@my-org/my-package` will use this URL for download
@khyatithakur:registry=https://gitlab.com/api/v4/packages/npm/

@smashorg:registry=https://registry.npmjs.org/

# Add the token for the scoped packages URL. This will allow you to download
# `@my-org/` packages from private projects.
//gitlab.com/api/v4/packages/npm/:_authToken=${GITLAB_AUTH_TOKEN}

//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# Add token for uploading to the registry. Replace <your-project-id>
# with the project you want your package to be uploaded to.
//gitlab.com/api/v4/projects/51982500/packages/npm/:_authToken=${GITLAB_AUTH_TOKEN}